<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pasticceria Papa</title>
    <link rel="stylesheet" href="~/css/COIT12204FooterStyleSheet.css" />
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="coit2204specialfooter">
        <!-- This footer is to be inserted in the assignment for COIT12204 Web Site Development unit -->
        This website has been developed as part of an assignment for the COIT12204 Web Site Development unit.
        <script>
            document.write("Date: ", new Date().getDate(), "/", new Date().getMonth() + 1, "/", new Date().getFullYear());
        </script>
        Copyright &copy; All rights reserved.
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
