@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pasticceria Papa!</h1>
    <p class="lead">Discover our exclusive range of products from Bakery items to Pastry.</p>
    <a class="btn btn-primary" asp-action="Catalogue Page">Order Now</a>

</div>
